<a href="https://colab.research.google.com/github/MatheusB2002/Todo7-Resilia-RelatorioSemana/blob/main/ToDo7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![banner](https://i.ibb.co/mSL5Qbv/To-Do7-Resilia.gif)

![first](https://i.ibb.co/Z82JkqP/To-Do7-Resilia-3.gif)

In [ ]:
import pandas as pd
import numpy as np
dictSemana = {'Limpeza': [100,0,100,0,100,100,0],
              'Comida': [221.60,375.31,412.00,495.20,411.53,245.00,164.00],
              'Transporte': [150,100,125,300,275,525,75],
              'Outros': [0,0,2310,500,0,0,820],
              'Ganhos': [2200,2420.50,3391,5322,4898.50,4200,3893]}

tabelaSemanal = pd.DataFrame(dictSemana, index = ['Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],)
tabelaSemanal

         Limpeza  Comida  Transporte  Outros  Ganhos
Segunda      100  221.60         150       0  2200.0
Terça          0  375.31         100       0  2420.5
Quarta       100  412.00         125    2310  3391.0
Quinta         0  495.20         300     500  5322.0
Sexta        100  411.53         275       0  4898.5
Sábado       100  245.00         525       0  4200.0
Domingo        0  164.00          75     820  3893.0

![Explicação da Primeira](https://i.ibb.co/0tKms2d/To-Do7-Resilia-4.gif)

In [ ]:
tiraSetePerCent = lambda x : x-x*0.07
print('Apenas aplicando a função lambda:')
print(tiraSetePerCent(tabelaSemanal['Ganhos']))
print('\nAplicando o apply pois é uma série:')
print(tabelaSemanal['Ganhos'].apply(tiraSetePerCent))
print('\nAtribuindo o valor na tabela:')
tabelaSemanal['Ganhos'] = tabelaSemanal[['Ganhos']].apply(tiraSetePerCent)
print(tabelaSemanal)

Apenas aplicando a função lambda:
Segunda    1902.78000
Terça      2093.49045
Quarta     2932.87590
Quinta     4602.99780
Sexta      4236.71265
Sábado     3632.58000
Domingo    3367.05570
Name: Ganhos, dtype: float64

Aplicando o apply pois é uma série:
Segunda    1902.78000
Terça      2093.49045
Quarta     2932.87590
Quinta     4602.99780
Sexta      4236.71265
Sábado     3632.58000
Domingo    3367.05570
Name: Ganhos, dtype: float64

Atribuindo o valor na tabela:
         Limpeza  Comida  Transporte  Outros      Ganhos
Segunda      100  221.60         150       0  1902.78000
Terça          0  375.31         100       0  2093.49045
Quarta       100  412.00         125    2310  2932.87590
Quinta         0  495.20         300     500  4602.99780
Sexta        100  411.53         275       0  4236.71265
Sábado       100  245.00         525       0  3632.58000
Domingo        0  164.00          75     820  3367.05570

![Explicação da Segunda](https://i.ibb.co/bH4YW4Q/To-Do7-Resilia-5.gif)

In [ ]:
print('Apresentando com a função de soma:')
print(sum(tabelaSemanal['Ganhos']))
print('\nApresentando a soma dos ganhos líquidos:')
print(sum(tabelaSemanal['Ganhos'])-(sum(tabelaSemanal['Limpeza']))-(sum(tabelaSemanal['Comida']))-(sum(tabelaSemanal['Transporte']))-(sum(tabelaSemanal['Outros'])))

Apresentando com a função de soma:
22768.4925

Apresentando a soma dos ganhos líquidos:
14863.8525

![Explicação da terceira](https://i.ibb.co/7QMT8fv/To-Do7-Resilia-6.gif)

In [ ]:
print('Aplicando a função de média:')
print(round(tabelaSemanal['Ganhos'].mean(),2))
print('\nAplicando cálculo matemático da soma dos ganhos dividido pela quantidade de dias:')
print(round(tabelaSemanal['Ganhos'].sum()/len(tabelaSemanal['Ganhos']),2))
print('\nApresentando a média dos ganhos líquidos da semana:')
print(round(sum(tabelaSemanal['Ganhos'])-(sum(tabelaSemanal['Limpeza']))-(sum(tabelaSemanal['Comida']))-(sum(tabelaSemanal['Transporte']))-(sum(tabelaSemanal['Outros']))/len(tabelaSemanal['Ganhos']),2))

Aplicando a função de média:
3252.64

Aplicando cálculo matemático da soma dos ganhos dividido pela quantidade de dias:
3252.64

Apresentando a média dos ganhos líquidos da semana:
17975.28

![Explicação da Quarto](https://i.ibb.co/6yGKBnG/To-Do7-Resilia-7.gif)

In [ ]:
dictSomaDespesas = {'Gasto com Limpeza': [tabelaSemanal['Limpeza'].sum()],
                     'Gasto com Comida':[tabelaSemanal['Comida'].sum()],
                     'Gasto com Transporte': [tabelaSemanal['Transporte'].sum()],
                     'Outros Gastos': [tabelaSemanal['Outros'].sum()]}
pd.DataFrame(dictSomaDespesas, index = ['Semana'])

,Gasto com Limpeza,Gasto com Comida,Gasto com Transporte,Outros Gastos
Semana,400,2324.64,1550,3630

![Explicação da Quinta](https://i.ibb.co/F7qbqtS/To-Do7-Resilia-8.gif)

In [ ]:
dictMediaDespesas = {'Gasto com Limpeza': [tabelaSemanal['Limpeza'].mean()],
                     'Gasto com Comida':[tabelaSemanal['Comida'].mean()],
                     'Gasto com Transporte': [tabelaSemanal['Transporte'].mean()],
                     'Outros Gastos': [tabelaSemanal['Outros'].mean()]}
pd.DataFrame(dictMediaDespesas, index = ['Semana'])

,Gasto com Limpeza,Gasto com Comida,Gasto com Transporte,Outros Gastos
Semana,57.142857,332.091429,221.428571,518.571429

![Explicação da Sexta](https://i.ibb.co/f2yCvrn/To-Do7-Resilia-9.gif)

In [ ]:
calculo = tabelaSemanal['Ganhos'] - tabelaSemanal.drop('Ganhos',axis ='columns').apply(sum, axis= 'columns')
pd.DataFrame(calculo).rename(columns = {0:'Total do dia'})

         Total do dia
Segunda    1431.18000
Terça      1618.18045
Quarta      -14.12410
Quinta     3307.79780
Sexta      3450.18265
Sábado     2762.58000
Domingo    2308.05570

![Despedida](https://i.ibb.co/YDqhC40/To-Do7-Resilia-10.gif)